<%= render 'shared_content/title', title: "All Masterminds" %>

<table class='table table-striped table-bordered'>
  <caption>All Masterminds ranked from easiest to toughest</caption>
  <thead>
    <tr>
      <th>Rank</th>
      <th>Mastermind</th>
      <th>Player Win Rate</th>
      <th>Expansion</th>
    </tr>
  </thead>
  <tbody>
    <% 0.upto(@masterminds.length-1) do |x| %>
      <tr>
        <th scope="row"><%= x+1 %></th>
        <td><%= link_to @masterminds[x].name, mastermind_path(@masterminds[x]) %></td>
        <td><%= @masterminds[x].show_mastermind_win_rate %>%</td>
        <td><%= @masterminds[x].expansion.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>