<%= render 'shared_content/title', title: @mastermind.name %>

<h4>Set: <%= link_to @mastermind.expansion.name, expansion_path(@mastermind.expansion) %></h4>

<h4>Description: <%= @mastermind.description %></h4>

<table class='table table-striped table-bordered'>
  <caption>Stats for <%= @mastermind.name %></caption>
  <thead>
    <tr>
      <th>Number of Players</th>
      <th>Games Played</th>
      <th>Win Rate</th>
    </tr>
  </thead>
  <tbody>
    <% 1.upto(5) do |x| %>
      <tr>
        <th scope="row"><%= x %></th>
        <td><%= @mastermind.total_games_with_player(x) %></td>
        <td><%= @mastermind.show_mastermind_win_rate_with_player(x) %>%</td>
      </tr>
    <% end %>
    <tr>
      <th scope="row">Overall</th>
      <td><%= @mastermind.total_games %></td>
      <td><%= @mastermind.show_mastermind_win_rate %></td>
    </tr>
  </tbody>
</table>