<%= render 'shared_content/error_messages', obj: @hero %>

<p>
	<%= form_for @hero do |f| %>
		<%= f.label :expansion %>
		<%= f.collection_select(:expansion_id, Expansion.all, :id, :name) %>
		<br/>
		<br/>

		<%= f.label :name %>
		<%= f.text_field :name %>

		<br/>
		<br/>

		<%= f.submit(@hero.new_record? ? 'Create Hero' : 'Update Hero', class: "btn btn-info") %>


	<% end %>
</p>
