<%= render 'shared_content/error_messages', obj: @villain %>

<p>
	<%= form_for @villain do |f| %>
		<%= f.label :expansion %>
		<%= f.collection_select(:expansion_id, Expansion.all, :id, :name) %>
		<br/>
		<br/>

		<%= f.label :name %>
		<%= f.text_field :name %>

		<br/>
		<br/>

		<%= f.submit(@villain.new_record? ? 'Create Villain' : 'Update Villain', class: "btn btn-info") %>


	<% end %>
</p>