<%= render 'shared_content/title', title: "All Villains" %>

<table class='table table-striped table-bordered'>
  <caption>All Villains ranked from easiest to toughest</caption>
  <thead>
    <tr>
      <th>Rank</th>
      <th>Villain</th>
      <th>Player Win Rate</th>
      <th>Expansion</th>
    </tr>
  </thead>
  <tbody>
    <% 0.upto(@villains.length-1) do |x| %>
      <tr>
        <th scope="row"><%= x+1 %></th>
        <td><%= link_to @villains[x].name, villain_path(@villains[x]) %></td>
        <td><%= @villains[x].show_villain_win_rate %>%</td>
        <td><%= @villains[x].expansion.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>