<%= render 'shared_content/title', title: @expansion.name %>

<h3>Expansion Win Rate: <%= @expansion.show_expansion_win_rate %>% </h3>


<h3><%= link_to "Heroes", heros_path %></h3>

<div class='row'>
  <div class='well col-md-6'>
    <ul>
  	 <% @expansion.heros.each do |hero| %>
        <li><%= link_to hero.name, hero_path(hero) %> - Win Rate: <%= hero.show_hero_win_rate %>%</li>
  	 <% end %>
    </ul>
  </div>
</div>



<h3><%= link_to "Masterminds", masterminds_path %></h3>

<div class='row'>
  <div class='well col-md-6'>
    <ul>
     <% @expansion.masterminds.each do |mastermind| %>
        <li><%= link_to mastermind.name, mastermind_path(mastermind) %> - Win Rate: <%= mastermind.show_mastermind_win_rate %>%</li>
     <% end %>
    </ul>
  </div>
</div>

<h3><%= link_to "Scenarios", scenarios_path %></h3>

<div class='row'>
  <div class='well col-md-6'>
    <ul>
     <% @expansion.scenarios.each do |scenario| %>
        <li><%= link_to scenario.name, scenario_path(scenario) %> - Win Rate: <%= scenario.show_scenario_win_rate %>%</li>
     <% end %>
    </ul>
  </div>
</div>

<h3><%= link_to "Villains", villains_path %></h3>

<div class='row'>
  <div class='well col-md-6'>
    <ul>
     <% @expansion.villains.each do |villain| %>
        <li><%= link_to villain.name, villain_path(villain) %> - Win Rate: <%= villain.show_villain_win_rate %>%</li>
     <% end %>
    </ul>
  </div>
</div>

<h3><%= link_to "Henchmen", henchmen_path %></h3>

<div class='row'>
  <div class='well col-md-6'>
    <ul>
     <% @expansion.henchmen.each do |henchman| %>
        <li><%= link_to henchman.name, henchman_path(henchman) %> - Win Rate: <%= henchman.show_henchmen_win_rate %>%</li>
     <% end %>
    </ul>
  </div>
</div>