<%= render 'shared_content/title', title: "Random Game" %>

<%= render 'display_game', title: "Mastermind: ", obj: @game.masterminds %>

<%= render 'display_game', title: "Scheme: ", obj: @game.scenarios %>

<%= render 'display_game', title: "Heroes: ", obj: @game.heros %>

<%= render 'display_game', title: "Villains: ", obj: @game.villains %>

<%= render 'display_game', title: "Henchmen: ", obj: @game.henchmen %>

<div class='row'>
	<h2>Did you beat this scenario?</h2>
		<div class='col-md-2'>
			<%= form_for @game do |f| %>
				<%= f.hidden_field :win, value: true %>
				<%= f.submit("Victory", class: 'btn btn-success') %>
			<% end %>
		</div>
		<div class='col-md-2'>
			<%= form_for @game do |f| %>
				<%= f.hidden_field :win, value: false %>
				<%= f.submit("Defeat", class: 'btn btn-danger') %>
			<% end %>
		</div>
</div>

