<%= render 'shared_content/error_messages', obj: @henchman %>

<p>
	<%= form_for @henchman do |f| %>
		<%= f.label :expansion %>
		<%= f.collection_select(:expansion_id, Expansion.all, :id, :name) %>
		<br/>
		<br/>

		<%= f.label :name %>
		<%= f.text_field :name %>

		<br/>
		<br/>

		<%= f.submit(@henchman.new_record? ? 'Create Henchmen' : 'Update Henchmen', class: "btn btn-info") %>


	<% end %>
</p>